.map-legend-container {
  width: 120px;
  padding: 10px;
  //background-color: $app-background-color;
  background: rgba($app-background-color, 0.9);
  position: absolute;
  bottom: 25px;
  right: 15px;
  z-index: 999;
  box-shadow: $app-box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7.5px;

  h1 {
    font-size: 0.8rem;
    font-weight: normal;
    color: $text-color;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .legend-grades-container {
    width: 100%;

    .each-grade-container {
      width: 100%;
      height: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .grade-color-box {
        width: 12px;
        height: 12px;
        margin-right: 10px;
      }

      p {
        color: $text-color;
        font-size: 0.8rem;
      }
    }
  }
}
