.header-component-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  .header-component-inner-container {
    width: 100%;

    .petitions-data-summary-container {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .each-data-summary-container {
        background-color: $card-background-color;
        box-shadow: $app-box-shadow;
        width: calc(100% / 3 - 90px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .data-summary-loading-container {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba($app-background-color, 0.7);
          position: absolute;
          left: 0;
          top: 0;
          z-index: 999;

          .MuiCircularProgress-root {
            color: #ffffff;
          }
        }

        .data-information {
          height: 100%;
          width: calc(100% - 70px);
          overflow-x: hidden;
          overflow-y: hidden;
          text-overflow: ellipsis;
          color: $text-color;
          padding: 0 15px;
          display: flex;
          flex-direction: column;
          //align-items: center;
          justify-content: center;

          span {
            font-weight: 400;
            font-size: 1.3em;
          }

          p {
            font-weight: 400;
            font-size: 0.85em;
          }
        }

        .data-icon {
          width: 70px;
          height: 100%;
          background-color: $green-background-color;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            fill: #1b2444;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .header-component-container {
    .header-component-inner-container {
      .petitions-data-summary-container {
        .each-data-summary-container {
          width: 32.5%;

          .data-information {
            padding: 0 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header-component-container {
    .header-component-inner-container {
      .petitions-data-summary-container {
        height: 200px;
        //min-height: 100px;
        //display: flex;
        flex-direction: column;
        .each-data-summary-container {
          //width: 32.5%;
          min-height: 60px;
          width: 100%;
          margin-bottom: 10px;

          .data-information {
            padding: 10px 15px;
          }
        }
      }
    }
  }
}
